.sm-menu {
  display: flex;
  justify-content: space-between;
  padding-block: 20px;
  align-items: center;
}

#menu-btn, #buscar-btn {
  display: flex;
  align-items: center;
  font: var(--h2);
  gap: 8px;
  line-height: 0;
}

.lg-menu ul {
  font: var(--text-span);
  display: flex;
  justify-content: space-between;
  border-bottom: 1px var(--stroke-color);
  border-top: 1px solid var(--stroke-color);
  border-bottom: 1px solid var(--stroke-color);
  padding-block: 14px;
}